<h1> The Viking Times </h1>


<% @categories.each do |category|%>
    <%=  link_to category.name, articles_path(params: {category: category.name}) %>
<% end %>

<% @articles.each do |article|%>
    <%=  link_to(article_path(article)) do %>
        <%= article.title %>
        <%= article.lead %>
    <% end %>
<% end %>