<% @articles.each do |article| %>
    <h1>
        <%= article.title %>
    </h1>
    <p>
        <%= article.lead %>
    </p>
    <p>
        <%= article.content %>
    </p>  
<% end %> 
<%= link_to ‘Show’, show_path %>