<h1> The Viking Times </h1>
<body>
<div class="flex content-start flex-wrap content-center mb-4 mt-5">
<% @articles.each do |article|%>
    <%=  link_to(article_path(article)) do %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
        <%= article.title %>
        </div>
        <p class="text-grey-darker text-base">
        <%= article.lead %>
        </p>
        </div>
        <div class="px-6 py-4">
        </div>
        </div>
    <% end %>
<% end %>
</div>
</div>
</body>
