<h1>The Viking Times</h1>
<% @articles.each do |article|%>
    <%= link_to article.title, articles_index_path(article) %>
    <p> article.content
    </p>
    <h1>
        <% article.title %>
    </h1>
    <p>
        <%= article.content%>
    </p>
<% end %> 