<div class="article-show">
    <div class="title-show text-8xl uppercase mt-24 border-b-2">
      <%= @article.title %>
    </div>
      <div class="lead font-bold mt-16 text-2xl">
    <%= @article.lead %>
  </div>
  </div>
  <div class="article-content ml-32 mr-32 mt-32 mb-32 text-2xl">
    <p>
      <%= @article.content %>
    </p>
  </div>
</div>
<%= link_to "Back", :back %>
