<div class="article-show">
    <div class="title-show">
      <%= @article.title %>
    </div>
      <div class="lead">
    <%= @article.lead %>
  </div>
  </div>
  <div class="article-content">
    <p>
      <%= @article.content %>
    </p>
  </div>
</div>
<%= link_to "Back", :back %>