@tailwind preflight;
@tailwind components;
@tailwind utilities;

h1 {
    @apply font-serif;
    @apply text-5xl; 
    @apply text-center;
    @apply mt-8;
    @apply leading-loose;
    text-decoration: underline;
}
a {
    display:block;
    width: 25%;
}
.back {
    margin-left: 25px;
}