@tailwind preflight;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Over the Rainbow', cursive;
    @apply text-5xl; 
    @apply text-center;
    @apply mt-8;
    @apply leading-loose;
}

.back {
    @apply ml-6;
}

.article-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px 150px;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    @apply justify-center mt-6;
}